<footer>
  <div class="footer">
    <div class="container">
      <div class="row product-description">
        <!-- Cột 1: Thông tin công ty -->
        <div class="column">
          <div class="footer-section">
            <h3>CÔNG TY CỔ PHẦN BÁN QUẦN ÁO HOANG NAM SHOP</h3>
            <p>Số ĐKKD: 0999999999, ngày cấp: 29/05/2025</p>
            <p>Địa chỉ: Lô B3, Đường Sáng Tạo, Khu chế xuất Tân Thuận, Phường Tân Thuận Đông, Quận 7, Thành phố Hồ Chí Minh, Việt Nam</p>
          </div>
        </div>

        <!-- Cột 2: Hỗ trợ -->
        <div class="column">
          <div class="footer-section">
            <h3>HỖ TRỢ</h3>
            <ul>
              <li><a href="https://www.facebook.com/profile.php?id=100068611252728">Facebook</a></li>
              <li>
                <a href="#">Zalo</a>
                <div class="qr-code">
                  <img src="https://github.com/HNam1010/ListImage/raw/main/zaloqr.jpg" alt="Zalo QR Code">
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Copyright -->
      <p class="footer-copy">© 2025 CREATE BY NGOHOANGNAM</p>
    </div>
  </div>
</footer>